<!-- Footer opened -->
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Assistance</h3>
                    <ul>
                        <li><a href="#">Nos mesures face au COVID-19</a></li>
                        <li><a href="#">Confiance et sécurité</a></li>
                        <li><a href="#">Options d'annulation</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>À propos</h3>
                    <ul>
                        <li><a href="#">AtypikHouse</a></li>
                        <li><a href="#">AtypikHouse Genius</a></li>
                        <li><a href="#">Accessibilité</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Hôte</h3>
                    <ul>
                        <li><a href="#">Héberger des voyageurs</a></li>
                        <li><a href="#">Accueil responsable</a></li>
                        <li><a href="#">Organiser une expérience</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <br><br>
        <div align="center">
            <div>
                <a href="#">Confidentialité</a>
                <span aria-hidden="true"> . </span>
                <a href="#">Conditions générales</a>
                <span aria-hidden="true"> . </span>
                <a href="#">Fonctionnement du site</a>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<!-- Footer closed -->
