{% extends 'base.html.twig' %}

{% block title %}Denevez Hôte !{% endblock %}

{% block body %}

            <div class="w3-row">
                <h1 class="w3-center">Devenez Hôte</h1><br>
                <div class="w3-half w3-padding-large">
                    <h2 class="w3-center">Un logement à partager, un monde à découvrir</h2>

                    <h4> Embarquez dans une nouvelle aventure</h4>

                    <p class="w3-large">
                        Profitez de la flexibilité qu'offre l'activité d'hôte, gagnez un revenu supplémentaire et tissez des liens durables en accueillant des voyageurs.</p>
                    <p class="w3-large w3-text-grey w3-hide-medium">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.</p>
                </div>

            </div>



    <div id="about" class="w3-container w3-padding-32">
        <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Comment fonctionne l'accueil de voyageurs
        </h2>

    </div>

    <div class="tm-article-carousel">

    <div class="w3-row-padding w3-grayscale">
        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <h4>Pourquoi devenir hôte sur AtypikHouse</h4>
                <p>Les hôtes expliquent pourquoi ils aiment partager leur logement sur AtypikHouse.</p>
            </div>
        </article>

        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <h4>Comment se lancer sur AtypikHouse</h4>
                <p>Découvrez comment vous lancer dans l'accueil de voyageurs, de la création de l'annonce jusqu'à la préparation du logement.
                </p>
            </div>
        </article>

        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <h4>Mon logement est-il adapté à AtypikHouse</h4>
                <p>Chaque logement a son voyageur idéal : l'important est que les voyageurs sachent ce qui les attend.
                </p>
            </div>
        </article>

        <article class="tm-bg-white mr-2 tm-carousel-item">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <h4>Quelles réglementations en matière d'accueil de voyageurs vous concernent ?</h4>
                <p>Utilisez ce guide pour naviguer dans les lois et réglementations locales relatives à l'hébergement AtypikHouse.
                </p>
            </div>
        </article>
         </div>
    </div>


    {% include 'partials/footer.html.twig' %}
    <footer class="tm-bg-dark-blue">
        <div class="container">
            <div class="row">
                <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Copyright &copy; <span class="tm-current-year">2021</span> With &#9825; By OIQA Agency</p>
            </div>
        </div>
    </footer>


{% endblock %}