{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}

    {% include 'partials/footer.html.twig' %}
    <footer class="tm-bg-dark-blue">
        <div class="container">
            <div class="row">
                <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Copyright &copy; <span class="tm-current-year">2021</span> With &#9825; By OIQA Agency</p>
            </div>
        </div>
    </footer>
{% endblock %}